<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box-extended">
    <mat-card-header>
      <mat-card-title>Routes</mat-card-title>
    </mat-card-header>

    <mat-card-content class="journeys-list">

      <!-- Header Row -->
      <div class="journey-header">
        <div class="col-locations">Route</div>
        <div class="col-departure">Departure</div>
        <div class="col-arrival">Arrival</div>
        <div class="col-price">Price</div>
      </div>
      <mat-divider></mat-divider>

      <!-- Journey Rows -->
      <mat-nav-list>
        <mat-list-item *ngFor="let journey of journeysObject.journeys" (click)="openDialog(journey)" class="journey-item">
          
          <!-- Route -->
          <div class="col-locations">
            {{ journey.legs[0].origin.name }} → {{ journey.legs[getLength(journey)].destination.name }}
          </div>

          <!-- Departure -->
          <div class="col-departure">
            {{ parseTime(journey.legs[0].departure) }}
          </div>

          <!-- Arrival -->
          <div class="col-arrival">
            {{ parseTime(journey.legs[getLength(journey)].arrival) }}
          </div>

          <!-- Price -->
          <div class="col-price">
            <ng-container *ngIf="journey.price; else noPrice">
              {{ journey.price.amount }} {{ journey.price.currency }}
            </ng-container>
            <ng-template #noPrice>
              N/A
            </ng-template>
          </div>

        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
