<mat-list>
    <mat-list-item *ngFor="let leg of journey.legs">
        <div class="locations">
            <span matLine>{{leg.origin.name}}</span>
            <span matLine class="vertical-dotted-line">
                <div *ngIf="leg.line != null">
                    <span class="line">
                        {{leg.line.name}}
                    </span>
                </div>
            </span>
            <span matLine>{{leg.destination.name}}</span>
        </div>
        <div class="time">
            <span *ngIf="leg.line != null && leg.line.mode=='bus'" style="margin-right: 5px">
                <mat-icon aria-hidden="false" color="primary" fontIcon="departure_board"></mat-icon>
            </span>
            <span *ngIf="leg.line != null && leg.line.mode=='train'" style="margin-right: 5px">
                <mat-icon aria-hidden="false" color="primary" fontIcon="tram"></mat-icon>
            </span>
            <span style="margin-right: 5px"> {{parseTime(leg.departure)}}</span>
            <span> <b>|</b> </span>
            <span style="margin-left: 5px"> {{parseTime(leg.arrival)}}</span>
        </div>
    </mat-list-item>
</mat-list>
<mat-action-list>
    <button mat-raised-button color="primary" (click)="close()">Close </button>
</mat-action-list>