    <mat-card-header>
      <mat-card-title>Journey Detail</mat-card-title>
    </mat-card-header>

  <div class="leg-header">
    <div class="header-col">Transport Mode</div>
    <div class="header-col">Route</div>
    <div class="header-col">Timings</div>
  </div>

<mat-list>
  <mat-list-item *ngFor="let leg of journey.legs" class="leg-item">
    <div class="leg-content-wrapper">
      <div class="leg-transport">
        <mat-icon *ngIf="leg.line?.mode === 'bus'" color="primary">directions_bus</mat-icon>
        <mat-icon *ngIf="leg.line?.mode === 'train'" color="primary">train</mat-icon>
        <mat-icon *ngIf="leg.line?.mode === 'tram'" color="primary">tram</mat-icon>
        <mat-icon *ngIf="leg.walking" color="primary">directions_walk</mat-icon>
        <span *ngIf="leg.line" class="line-name">{{ leg.line.name }}</span>
      </div>

      <div class="leg-route">
        <div class="leg-route-details">
          <span><mat-icon class="small-icon">my_location</mat-icon> {{ leg.origin.name }}</span>
          <mat-icon class="arrow-icon">arrow_forward</mat-icon>
          <span><mat-icon class="small-icon">location_on</mat-icon> {{ leg.destination.name }}</span>
        </div>
      </div>

      <div class="leg-time">
        <span>{{ parseTime(leg.departure) }} - {{ parseTime(leg.arrival) }}</span>
        <div class="duration">{{ getDuration(leg.departure, leg.arrival) }}</div>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<div class="dialog-button">
  <button mat-raised-button color="primary" (click)="close()">
    <mat-icon>close</mat-icon> Close
  </button>
</div>